<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Job</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <style>
        .div {
            margin: 15px;
        }
    
        #marginbetweennavigationbarandjumbotron {
            margin-top: 10px;
            justify-content: center;
            background-color: white;
            color: black;
            border-radius: 6px;
            padding: 10px;
            margin-bottom: 20px;
        }
    
        ul {
            list-style-type: none;
        }
    </style>
    
</head>


<body>
    
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <p><a  class="navbar-brand">View Jobs</a></p>
            </div>

            <!-- End of Navigation and begining of Jumbotron -->

            <div class="container" id="marginbetweennavigationbarandjumbotron">
                <div class="row">
                    <div class="col-xs-12">

                        <h2 class="text-center text-primary"
                            style="margin:0px;padding:0px;font-family: 'Droid Sans', sans-serif;">Search Jobs, Across
                            all India.</h2>
                        <hr>


                        <form class="form-group form-inline text-center">

                            <input type="text" class="form-control " placeholder="Enter Job Title,Desigination,Keywords"
                                style="width:300px;margin:10px;">


                            <select class="form-control" style="width:300px;margin:10px;">
                                <option>Select Experience</option>
                                <option>0 Year | Fresher</option>
                                <option>1 Year</option>
                                <option>2 Years</option>
                                <option>3 Years</option>
                                <option>4 Years</option>
                                <option>5 Year</option>
                                <option>6 Years</option>
                                <option>7 Years</option>
                                <option>8 Years</option>
                                <option>9 Years</option>
                                <option>10 Years</option>
                                <option>More than 10 Years</option>
                            </select>
                            <p class="text-center">
                                <button type="submit" class="btn-primary text-center form-control"
                                    style="width:300px;">Search</button>
                            </p>
                        </form>
                        <p class="text-center text-primary">We Will Search Best Matching Jobs for You.</p>


                    </div>
                </div>
            </div>
</body>

</html>